<form  [formGroup]="userInfo" action="" (ngSubmit)="display()">
  <mat-form-field appearance="outline">
    <mat-label>First Name</mat-label>
    <input formControlName="firstName" type="text" matInput>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>last Name</mat-label>
    <input formControlName="lastName" type="text" matInput>
  </mat-form-field>

  <div formArrayName="favFood">
    <mat-form-field appearance="outline" *ngFor="let item of list; index as i">
      <mat-label>Favourite food</mat-label>
      <input type="text" [formControlName]="i" matInput >
    </mat-form-field>
  </div>


  <button mat-raised-button type="submit">submit</button>
</form>
